<aside class="related">
  <nav aria-label="Related content sidebar">
    <% if @document&.has_related_pages? %>
    <ul>
      <li><b><%= @document.title %></b>
        <ul class="children">
        <% @document.children.each do |doc| %>
          <li>
            <a href="<%= doc['url'] %>">
              <%= doc['title'] %>
            </a>
          </li>
        <% end %>
        </ul>
      </li>
    <% @document.siblings.each do |doc| %>
      <li>
        <a href="<%= doc['url'] %>">
          <%= doc['title'] %>
        </a>
      </li>
    <% end %>
    </ul>
    <% end %>
  </nav>
</aside>