<article class="page-content">
  <% if @query && !@query.empty? %>
    <h1>Showing <%= @results.length %> result<%= @results.length == 1 ? '' : 's' %> for "<%= @query %>"</h1>
    <% if @has_private_results %>
      <p>Some private pages were also returned by the search. dxw staff can view them <a href="https://dxw.getoutline.com/search?q=<%= @query %>">here</a>.</p>
    <% end %>

    <% if @results&.any? %>
      <div class="search-results">
        <% @results.each do |result| %>
          <div class="search-result-item">
            <h2 class="search-result-title">
              <a href="<%= result.doc.url %>"><%= result.doc.title %></a>
            </h2>
            <div class="search-result-excerpt">
              <%= result.context %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="no-results">
        <p>No results found for "<%= @query %>". Try:</p>
        <ul>
          <li>Checking your spelling</li>
          <li>Using different keywords</li>
          <li>Using more general terms</li>
        </ul>
      </div>
    <% end %>
  <% else %>
    <h1>Enter a search term</h1>
    <div class="search-instructions">
      <p>Enter a search term in the search box.</p>
    </div>
  <% end %>
</article>
